apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dns-agent-system

resources:
  - ../../agent
  - minio-deployment.yaml
  - minio-service.yaml
  - minio-pvc.yaml
  - minio-credentials.yaml

# Patch the replica count to 2
patches:
  - target:
      kind: StatefulSet
      name: pdns-auth
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: lightningstream-config
    behavior: replace
    files:
      - lightningstream.yaml