---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dns-networking-miloapis-com-v1alpha1-dnsrecordset
  failurePolicy: Fail
  name: mdnsrecordset-downstream-v1alpha1.kb.io
  rules:
  - apiGroups:
    - dns.networking.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - dnsrecordsets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-dns-networking-miloapis-com-v1alpha1-dnsrecordset
  failurePolicy: Fail
  name: mdnsrecordset-v1alpha1.kb.io
  rules:
  - apiGroups:
    - dns.networking.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - dnsrecordsets
  sideEffects: None
