auth_enabled: false
server:
  http_listen_port: 3100
common:
  path_prefix: /var/loki
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /var/loki/index
    cache_location: /var/loki/cache
    shared_store: filesystem
  filesystem:
    directory: /var/loki/chunks
ingester:
  wal:
    dir: /var/loki/wal
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_chunk_age: 1h
limits_config:
  retention_period: 168h
  reject_old_samples: true
  reject_old_samples_max_age: 168h
compactor:
  working_directory: /var/loki/compactor
  shared_store: filesystem
analytics:
  reporting_enabled: false