################################################
# global configuration
#  more details: https://github.com/dmachard/DNS-collector/blob/main/docs/configuration.md#global
################################################
global:
  trace:
    verbose: true
    log-malformed: true
    filename: ""
    max-size: 10
    max-backups: 10
  server-identity: "dns-collector"
  pid-file: ""
  text-format: "timestamp-rfc3339ns identity operation rcode queryip queryport family protocol length-unit qname qtype latency"
  text-format-delimiter: " "
  text-format-boundary: "\""
  text-jinja: ""
  worker:
    interval-monitor: 10
    buffer-size: 8192
  telemetry:
    enabled: true
    web-path: "/metrics"
    web-listen: ":9165"
    prometheus-prefix: "dnscollector_exporter"

    # Optional TLS configuration
    tls-support: false
    tls-cert-file: ""
    tls-key-file: ""
    client-ca-file: ""

    # Optional authentication
    basic-auth-enable: false
    basic-auth-login: admin
    basic-auth-pwd: changeme

################################################
# Pipelining configuration
#   more details: https://github.com/dmachard/DNS-collector/blob/main/docs/running_mode.md#pipelining
#   workers: https://github.com/dmachard/DNS-collector/blob/main/docs/workers.md
#   transformers: https://github.com/dmachard/DNS-collector/blob/main/docs/transformers.md
################################################
pipelines:
  - name: tap
    dnstap:
      listen-ip: 0.0.0.0
      listen-port: 6000
    transforms:
      normalize:
        enable: true
        qname-lowercase: true
        rr-lowercase: true
        qname-replace-nonprintable: true
        add-tld: true
        add-tld-plus-one: true
        quiet-text: false
      reordering:
        enable: true
        flush-interval: 30
        max-buffer-size: 100
      suspicious:
        enable: true
        threshold-qname-len: 100
        threshold-packet-len: 1000
        threshold-slow: 1.0
        common-qtypes:
          - A
          - AAAA
          - TXT
          - CNAME
          - PTR
          - NAPTR
          - DNSKEY
          - SRV
          - SOA
          - NS
          - MX
          - DS
          - HTTPS
        unallowed-chars:
          - '"'
          - '=='
          - '/'
          - ':'
        threshold-max-labels: 10
        whitelist-domains:
          - '\.ip6\.arpa'
      latency:
        enable: true
        measure-latency: true
        unanswered-queries: true
        queries-timeout: 2
      geoip:
        enable: true
        mmdb-country-file: /mmdb/GeoLite2-Country.mmdb
        mmdb-city-file: /mmdb/GeoLite2-City.mmdb
        mmdb-asn-file: /mmdb/GeoLite2-ASN.mmdb
        lookup-ecs: true
    routing-policy:
      forward: [ console, prometheus, loki ]
      dropped: [ ]

  - name: console
    stdout:
      mode: json

  - name: prometheus
    prometheus:
      listen-ip: 0.0.0.0
      listen-port: 8084
      basic-auth-enable: false
      basic-auth-login: admin
      basic-auth-pwd: changeme
      tls-support: false
      tls-mutual: false
      tls-min-version: 1.2
      cert-file: ""
      key-file: ""
      prometheus-prefix: "dnscollector"
      top-n: 10
      chan-buffer-size: 0
      histogram-metrics-enabled: true
      requesters-metrics-enabled: true
      domains-metrics-enabled: true
      noerror-metrics-enabled: true
      servfail-metrics-enabled: true
      nonexistent-metrics-enabled: true
      timeout-metrics-enabled: true
      prometheus-labels: ["stream_id"]
      requesters-cache-size: 250000
      requesters-cache-ttl: 3600
      domains-cache-size: 500000
      domains-cache-ttl: 3600
      noerror-domains-cache-size: 100000
      noerror-domains-cache-ttl: 3600
      servfail-domains-cache-size: 10000
      servfail-domains-cache-ttl: 3600
      nonexistent-domains-cache-size: 10000
      nonexistent-domains-cache-ttl: 3600
      default-domains-cache-size: 1000
      default-domains-cache-ttl: 3600

  - name: loki
    lokiclient:
      server-url: "http://loki.dns-monitoring.svc:3100/loki/api/v1/push"
      job-name: "dnscollector"
      mode: "json"
      flush-interval: 5
      batch-size: 1048576
      retry-interval: 10
      text-format: ""
      proxy-url: ""
      tls-insecure: false
      tls-min-version: 1.2
      ca-file: ""
      cert-file: ""
      key-file: ""
      basic-auth-login: ""
      basic-auth-pwd: ""
      basic-auth-pwd-file: ""
      tenant-id: ""
      relabel-configs: []
      chan-buffer-size: 0