resources:
- ../crd
- ../rbac
- namespace.yaml
- manager.yaml
- pdns-service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: agent-server-config
  files:
  - server-config.yaml

images:
- name: ghcr.io/datum-cloud/dns-operator
  newName: ghcr.io/datum-cloud/dns-operator
  newTag: latest