namespace: dns-agent-system

resources:
- ../crd
- ../rbac
- namespace.yaml
- manager.yaml
- pdns-service.yaml
- pdns-headless-service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: agent-server-config
  files:
  - server-config.yaml
- name: lightningstream-config
  files:
    - lightningstream.yaml
- name: pdns-config
  files:
    - pdns.conf
- name: dnsdist-config
  files:
    - dnsdist.yml=dnsdist-config.yaml
- name: dnscollector-config
  files:
    - config.yaml=dnscollector-config.yaml
- name: vector-config
  files:
    - vector-config.yaml

secretGenerator:
  - name: geoip-credentials
    literals:
      - account_id=changeme
      - license_key=changeme

images:
- name: ghcr.io/datum-cloud/dns-operator
  newName: ghcr.io/datum-cloud/dns-operator
  newTag: latest
