apiVersion: v1
kind: Service
metadata:
  name: pdns-auth
spec:
  selector:
    app: pdns-auth
  ports:
  - name: dns
    port: 53
    targetPort: 53
    protocol: UDP
  - name: dns-tcp
    port: 53
    targetPort: 53
    protocol: TCP
  - name: api
    port: 8081
    targetPort: 8081
    protocol: TCP
